[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = virginiadandara
	email = virginiadandara@gmail.com
[gui]
	recentrepo = C:/Users/Larissa/Desktop/projeto
